*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
.idea/AndroidProjectSystem.xml
.idea/androidTestResultsUserPreferences.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/dictionaries
.idea/inspectionProfiles/
.idea/ktlint-plugin.xml
.idea/kotlinc.xml
.idea/kotlinScripting.xml
.idea/libraries
.idea/markdown.xml
.idea/misc.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/render.experimental.xml
.idea/workspace.xml
.kotlin/
app/build
app/schemas
build/
captures
keystores
local.properties
